.body-container {
  display: grid;
  background-color: var(--color-1);
  width: 100%;
  height: 80vh;
  margin-top: 70px;
  align-items: center;
}

.body-container h2 {
  padding: 20px 40px 0px 40px;
}

.body-text-drag-and-drop-container {
  padding: 20px 40px 0px 40px;
  text-align: justify;
}
.body-text-area-container {
  position: relative;
  padding: 20px 40px 90px 40px;
  z-index: 1;
}

.body-text-area-container textarea {
  width: 100%;
  font-size: 16px;
  height: 100px;
  border-color: #727272;
}

.body-text-area-container textarea:focus {
  outline: none;
}
.body-text-area-container textarea:hover {
  border-color: #727272;
}
.hide-show-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  width: 100%;
  height: 50px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.hide-show-text:hover {
  cursor: pointer;
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}
.change-file {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 18px;
  border-radius: 0px;
  width: 100%;
  height: 50px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
  gap: 10px;
  z-index: 1;
}
.change-file:hover {
  cursor: pointer;
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}
.send-prompt {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333333;
  font-size: 20px;
  border-radius: 0px;
  width: 100%;
  height: 50px;
  font-weight: bold;
  border: 2px solid #333333;
  transition: 0.3s;
  box-shadow: 5px 5px 0px 0px rgba(51, 51, 51, 1);
  background-color: #ffffff;
}

.send-prompt:hover {
  cursor: pointer;
  box-shadow: 0 0 #333;
  color: #fff;
  background-color: #333;
}

.body-generated-answear-content{
  position: relative;
  z-index: 2;
  padding: 20px 40px 300px 40px;
}

@media screen and (max-width: 650px) {
  .body-text-area-container{
    z-index: 0;
  }
}


