.drag-and-drop-content {
  display: grid;
  border: 5px dotted #b3b3b3;
  border-radius: 10px;
  padding: 50px 150px 50px 150px;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
}
.drag-and-drop-text {
  display: flex;
  width: 100%;
  justify-content: center;
  color: #b3b3b3;
}

.drag-and-drop-content:hover {
  opacity: 0.7;
  cursor: pointer;
}

.drag-and-drop-icon {
  height: 100px;
  width: 100px;
  width: 100%;
  color: #b3b3b3;
}
@media screen and (max-width: 650px) {
  .drag-and-drop-content {
    padding: 20px 20px 20px 20px;
  }
}
