.header-container {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    backdrop-filter: blur(8px);
    border-bottom: 1px solid #ddd;
    z-index: 2;
}

.header-content{
    width: 100%;
    display: flex;
    justify-content: end;
    padding-right: 18vw;
}

.header-icon {
    width: 25px;
    height: 25px;
    color: #8d8d8d;
}
.header-icon:hover {
    cursor: pointer;
}